<%= error_messages_for :comment %>
<% form_for [@post, @comment] do |f| %>
  <p>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
